---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact | Gerardo Tamayo">
    <body>
        <div class="my-24 mx-auto w-2/6 h-96 rounded-2xl bg-stone-300">
            <form action="" method="post" class="p-20">
                <label for="POST-name">Nombre:</label><br>
                <input id="POST-name" type="text" name="name"/><br>

                <label for="POST-name">Apellido:</label><br>
                <input id="POST-name" type="text" name="name"/><br>
                
                <label for="POST-name">Mail:</label><br>
                <input id="POST-name" type="text" name="name"/><br>
                
                <input type="submit" class="bg-gray-700 p-2 rounded-2xl text-white"/>
            </form>
        </div>
    </body>
</Layout>