---
import Layout from "../layouts/Layout.astro"
import perImage1 from '../assets/flores1.webp';
import perImage2 from '../assets/cusenier.jpeg';
import perImage5 from '../assets/cusenier4.webp';
import perImage6 from '../assets/cusenier5.webp';
import perImage7 from '../assets/flores2.webp';
import perImage8 from '../assets/cusenier2.jpeg';
import perImage9 from '../assets/alquimia6.webp'
import perImage10 from '../assets/alquimia2.webp'
import perImage11 from '../assets/alquimia3.webp'
import { Image } from 'astro:assets';

const images = [
  { src: perImage1, alt: "Image 1" },
  { src: perImage2, alt: "Image 2" },
  { src: perImage8, alt: "Image 3" },
  { src: perImage5, alt: "Image 4" },
  { src: perImage6, alt: "Image 5" },
  { src: perImage7, alt: "Image 6" },
  { src: perImage9, alt: "Image 7" },
  { src: perImage10, alt: "Image 8" },
  { src: perImage11, alt: "Image 9" },
];
---

<Layout title="Gallery | Gerardo Tamayo">
    <div class="grid grid-cols-1 md:grid-cols-3 auto-rows-auto p-5 gap-4 mt-24 md:mt-16">
        {images.map((image) => (
            <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-lg">
                <Image
                    src={image.src} 
                    alt={image.alt} 
                    class="w-full h-full object-cover rounded-lg transition duration-300 ease-in-out hover:scale-110"
                    format="webp"
                />
            </div>
        ))}
    </div>
</Layout>