---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import perImage from '../assets/FotoPerfil.jpg';
import { Image } from 'astro:assets';
---

<Layout title="Gerardo Tamayo">
	<main class="justify-between items-center">
		<div style="background-image: url('/paisaje1.jpg'); background-size: cover; background-attachment: auto;" class="bg-center h-[670px]">
		</div>
		<div id="sobremi" class="flex flex-col h-auto my-24">
			<div class="flex mb-9 mx-auto h-20 w-20 rounded-full">
				<Image src={perImage} alt="..." class="h-20 w-20 rounded-full"></Image>
			</div>
			<h1 class="text-3xl mb-9 w-40 mx-auto text-center animate-fade-in-right animate-delay-1000 animate-duration-1000">Sobre mi</h1>
			<p class="w-56 sm:w-1/3 mx-auto text-justify animate-fade-in-left animate-delay-1000 animate-duration-1000 mb-4"> Soy un fotógrafo de 20 años, vivo en Rosario, Argentina. Desde muy chico, la fotografía y la filmación han sido mi pasión.</p>
			<p class="w-56 sm:w-1/3 mx-auto text-justify animate-fade-in-left animate-delay-1000 animate-duration-1000">Mi objetivo es plasmar momentos únicos y transmitir la esencia de cada actuación a través de mis fotos. Busco siempre nuevas formas de contar historias visuales que resuenen con el público.</p>
		</div>
		<Card/>
	</main>
</Layout>
