---
import Layout from '../layouts/Layout.astro';
import perImage from '../assets/paisaje1.jpg';
import { Image } from 'astro:assets';
---

<Layout title="Gerardo Tamayo">
	<main>
		<div class="flex justify-between my-10 bg-gray-900 mx-44 text-white rounded-2xl">
			<Image src={perImage} alt="..." class="rounded-2xl bg-cover h-[550px]"></Image>
		</div>
	</main>
</Layout>
