---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Gerardo Tamayo">
	<main class="justify-between items-center">
		<div style="background-image: url('/paisaje1.jpg'); background-size: cover;" class="bg-center h-[670px]">
		</div>
		<div id="sobremi" class="flex flex-col h-auto my-20">
			<div class="flex bg-black h-20 w-20 rounded-full mb-9 mx-auto"></div>
			<h1 class="text-3xl mb-11 w-40 mx-auto text-center animate-fade-in-right animate-delay-1000 animate-duration-1000">Sobre mi</h1>
			<p class="w-56 sm:w-1/3 mx-auto text-justify animate-fade-in-left animate-delay-1000 animate-duration-1000">Hola! soy Gerardo, tengo 20 años y vivo en Rosario Argentiina Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem modi veniam, cum ipsa sed blanditiis alias cupiditate. Nostrum obcaecati odio id deleniti voluptate eius facilis praesentium voluptatum aliquid aliquam.</p>
		</div>
		<Card/>
	</main>
</Layout>
