<button type="button" class="flex mx-auto items-center justify-center mt-7">
    <a href="/gallery/" class="font-medium md:text-base text-sm w-44 p-4 bg-orange-600 transition duration-300 hover:bg-stone-800">Ver mรกs fotos</a>
</button>