---
import perImage2 from '../assets/cusenier2.jpeg';
import perImage from '../assets/cusenier.jpeg';
import { Image } from 'astro:assets';
---

<article id="mitrabajo" class="flex md:flex-row flex-col">
    <div class="text-white md:w-1/2">
        <Image src={perImage} alt="..." class="bg-cover h-full"></Image>
    </div>
    <div class="md:w-1/2 w-full h-auto py-8 bg-stone-600 text-white content-center">
        <div class="justify-center my-7 mx-auto">
            <h1 class="text-3xl mb-8 w-40 mx-auto justify-center text-center border-b-2 pb-3">Conciertos</h1>
			<p class="w-56 sm:w-1/2 mx-auto text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem modi veniam, cum ipsa sed blanditiis alias cupiditate. Nostrum obcaecati odio id deleniti voluptate eius facilis praesentium voluptatum aliquid aliquam.</p>
        </div>
    </div>
</article>

<article class="flex md:flex-row flex-col">
    <div class="md:w-1/2 w-full h-auto py-8 bg-stone-600 text-white content-center md:block hidden">
        <div class="justify-center my-5 mx-auto">
            <h1 class="text-3xl mb-8 w-40 mx-auto justify-center text-center border-b-2 pb-3">Paisajes</h1>
			<p class="w-56 sm:w-1/2 mx-auto text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem modi veniam, cum ipsa sed blanditiis alias cupiditate. Nostrum obcaecati odio id deleniti voluptate eius facilis praesentium voluptatum aliquid aliquam.</p>
        </div>
    </div>
    <div class="text-white md:w-1/2">
        <Image src={perImage2} alt="..." class="bg-cover h-full"></Image>
    </div>
    <div class="md:w-1/2 w-full h-auto py-8 bg-stone-600 text-white content-center md:hidden block">
        <div class="justify-center my-5 mx-auto">
            <h1 class="text-3xl mb-8 w-40 mx-auto justify-center text-center border-b-2 pb-3">Paisajes</h1>
			<p class="w-56 sm:w-1/2 mx-auto text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem modi veniam, cum ipsa sed blanditiis alias cupiditate. Nostrum obcaecati odio id deleniti voluptate eius facilis praesentium voluptatum aliquid aliquam.</p>
        </div>
    </div>
</article>