---
import perImage from '../assets/flores1.png';
import perImage2 from '../assets/cusenier.jpeg';
import perImage3 from '../assets/artema.jpg';
import { Image } from 'astro:assets';
---

<article class="flex flex-col md:flex-row">
    <div class="md:w-1/2 h-full">
        <Image src={perImage3} alt="..." class="object-cover md:h-[540px]"></Image>
    </div>
    <div class="md:w-1/2 w-full h-auto py-4 bg-gradient-to-tl from-stone-600 to-stone-700 text-stone-200 content-center">
        <div class="justify-center my-8">
            <h1 id="mitrabajo" class="text-2xl sm:text-3xl mb-8 flex justify-center text-center">Artema</h1>
			<p class="w-60 sm:w-1/2 mx-auto text-left font-thin md:text-base text-sm">Foto sacada en "Bar Capitan" en el 2022 para la banda Artema. Se puede ver un gran contraste entre la piel del cantante con el fondo creada por un foco que durante un instante le estuvo apuntando.</p>
        </div>
    </div>
</article>


<article class="flex flex-col md:flex-row">
    <div class="md:w-1/2 w-full h-auto py-4 bg-gradient-to-tl from-stone-600 to-stone-700 text-stone-200 content-center md:block hidden">
        <div class="justify-center my-8">
            <h1 class="text-2xl sm:text-3xl mb-8 flex justify-center text-center">Cusenier</h1>
			<p class="w-60 sm:w-1/2 mx-auto text-left font-thin md:text-base text-sm">Foto sacada en "Que sea rock" en 2024, esta foto se puede ver una composicion lograda desde un punto bajo para dar un mayor resalte al cantante.</p>
        </div>
    </div>
    <div class="md:w-1/2 h-full">
        <Image src={perImage2} alt="..." class="object-cover md:h-[540px]"></Image>
    </div>
    <div class="md:w-1/2 w-full h-auto py-4 bg-gradient-to-tl from-stone-600 to-stone-700 text-stone-200 content-center md:hidden block">
        <div class="justify-center my-8">
            <h1 class="text-2xl sm:text-3xl mb-8 flex justify-center text-center">Cusenier</h1>
			<p class="w-60 sm:w-1/2 mx-auto text-left font-thin md:text-base text-sm">Foto sacada en "Que sea rock" en 2024, esta foto se puede ver una composicion lograda desde un punto bajo para dar un mayor resalte al cantante.</p>
        </div>
    </div>
</article>


<article class="flex flex-col md:flex-row">
    <div class="md:w-1/2 h-full">
        <Image src={perImage} alt="..." class="h-full object-cover md:h-[540px]"></Image>
    </div>
    <div class="md:w-1/2 w-full h-auto py-4 bg-gradient-to-tl from-stone-600 to-stone-700 text-stone-200 content-center">
        <div class="justify-center my-8">
            <h1 class="text-2xl sm:text-3xl mb-8 flex justify-center text-center">Flores lepusimos</h1>
			<p class="w-60 sm:w-1/2 mx-auto text-left font-thin md:text-base text-sm">Foto sacada en el Centro Cultural Atlas en 2022 desde un segundo piso del escenario. Captada en el momento justo en el que el cantante levanta su brazo, dandole mayor enfasis al momento junto con el humo.</p>
        </div>
    </div>
</article>