---
import perImage from '../assets/flores1.png';
import perImage2 from '../assets/cusenier.jpeg';
import perImage3 from '../assets/artema.jpg';
import { Image } from 'astro:assets';
---

<article class="flex md:flex-row flex-col">
    <div class="text-white md:w-1/2">
        <Image src={perImage3} alt="..." class="h-full object-cover md:h-[580px]"></Image>
    </div>
    <div class="md:w-1/2 w-full h-auto py-4 bg-stone-600 text-white content-center">
        <div class="justify-center my-5 mx-auto">
            <h1 id="mitrabajo" class="text-3xl mb-5 flex justify-center text-center">
                <span class="border-b-2 pb-3">Artema</span>
            </h1>
			<p class="w-56 sm:w-1/2 mx-auto text-justify">Foto sacada en Bar Capitan en el 2022 para la banda Artema. Se puede ver un gran contraste entre la piel del cantante con el fondo creada por un foco que durante un instante le estuvo apuntando.</p>
        </div>
    </div>
</article>

<article class="flex md:flex-row flex-col">
    <div class="md:w-1/2 w-full h-auto py-4 bg-stone-600 text-white content-center md:block hidden">
        <div class="justify-center my-5">
            <h1 class="text-3xl mb-5 flex justify-center text-center">
                <span class="border-b-2 pb-3">Cusenier</span>
            </h1>
			<p class="w-56 sm:w-1/2 mx-auto text-justify">Foto sacada en "Que sea rock" en 2024, esta foto se puede ver una composicion lograda desde un punto bajo para dar un mayor resalte al cantante. Suscipit autem modi veniam, cum ipsa sed blanditiis alias cupiditate.</p>
        </div>
    </div>
    <div class="text-white md:w-1/2">
        <Image src={perImage2} alt="..." class="object-cover h-full md:h-[580px]"></Image>
    </div>
    <div class="md:w-1/2 w-full h-auto py-4 bg-stone-600 text-white content-center md:hidden block">
        <div class="justify-center my-5 mx-auto">
            <h1 class="text-3xl mb-5 flex justify-center text-center">
                <span class="border-b-2 pb-3">Cusenier</span>
            </h1>
			<p class="w-56 sm:w-1/2 mx-auto text-justify">Foto sacada en "Que sea rock" en 2024, esta foto se puede ver una composicion lograda desde un punto bajo para dar un mayor resalte al cantante. Suscipit autem modi veniam, cum ipsa sed blanditiis alias cupiditate.</p>
        </div>
    </div>
</article>

<article class="flex md:flex-row flex-col">
    <div class="text-white md:w-1/2">
        <Image src={perImage} alt="..." class="h-full object-cover md:h-[580px]"></Image>
    </div>
    <div class="md:w-1/2 w-full h-auto py-4 bg-stone-600 text-white content-center">
        <div class="justify-center my-5">
            <h1 class="text-3xl mb-5 flex justify-center text-center">
                <span class="border-b-2 pb-3">Flores lepusimos</span>
            </h1>
			<p class="w-56 sm:w-1/2 mx-auto text-justify"> Foto sacada en CCA en 2022 desde un segundo piso del escenario. Captada en el momento justo en el que el cantante levanta su brazo, dandole mayor enfasis al momento junto con el fondo y el humo. Nostrum obcaecati odio id deleniti voluptate eius facilis praesentium voluptatum aliquid aliquam.</p>
        </div>
    </div>
</article>