<header class="fixed flex flex-col sm:flex-row justify-between py-6 w-full text-white backdrop-brightness-50 backdrop-blur-sm shadow-lg px-14 lg:px-36 top-0">
    <div class="text-4xl lg:text-5xl font-light justify-center sm:justify-normal text-center">
        <h1>Gerardo Tamayo</h1>
    </div>
    <div class="flex flex-row pt-4 gap-10 text-lg lg:text-2xl font-light justify-center sm:justify-normal">
        <button class="hover:text-red-800">About</button>
        <button class="hover:text-red-800">Contact</button>
        <button class="hover:text-red-800">Work</button>
    </div>
</header>