<header class="fixed flex flex-col sm:flex-row justify-between py-4 w-full text-white backdrop-brightness-50 backdrop-blur-sm shadow-lg px-5 lg:px-36 top-0 content-center z-10">
    <div class="text-4xl lg:text-5xl font-light justify-center sm:justify-normal text-center animate-delay-700 animate-fade-in-right animate-duration-1000">
        <a href="">Gerardo Tamayo</a>
    </div>
    <nav class="flex flex-row gap-9 text-lg lg:text-xl font-light justify-center sm:justify-normal pt-3 animate-delay-500 animate-fade-in-left animate-duration-700">
        <a href="#sobremi" class="hover:text-blue-700">Sobre mi</a>
        <a href="#mitrabajo" class="hover:text-blue-700">Mi trabajo</a>
    </nav>
</header>