<header class="fixed flex flex-col sm:flex-row justify-between py-4 w-full text-white backdrop-brightness-50 backdrop-blur-sm shadow-lg px-5 lg:px-36 top-0 z-10">
    <div class="text-3xl lg:text-4xl font-light sm:justify-normal text-center animate-delay-700 animate-fade-in-right animate-duration-1000">
        <a href="" class="content-center">Gerardo Tamayo</a>
    </div>
    <nav class="flex flex-row gap-9 text-base lg:text-lg font-light justify-center sm:justify-normal animate-delay-500 animate-fade-in-left animate-duration-700 pt-2 sm:pt-0">
        <a href="#sobremi" class="hover:text-blue-700 content-center">Sobre mi</a>
        <a href="#mitrabajo" class="hover:text-blue-700 content-center">Mi trabajo</a>
    </nav>
</header>