<header class="fixed flex flex-col sm:flex-row justify-between py-6 w-full text-white backdrop-brightness-50 backdrop-blur-sm shadow-lg px-5 lg:px-36 top-0 content-center">
    <div class="text-4xl lg:text-5xl font-light justify-center sm:justify-normal text-center animate-fade-in-right animate-duration-1000">
        <a href="#">Gerardo Tamayo</a>
    </div>
    <div class="flex flex-row gap-9 text-lg lg:text-xl font-light justify-center sm:justify-normal pt-3 animate-fade-in-left animate-duration-1000">
        <button class="hover:text-red-800">Sobre mi</button>
        <button class="hover:text-red-800">Contacto</button>
        <button class="hover:text-red-800">Mis trabajos</button>
    </div>
</header>